.buttonContainer{
  .loader{
    position: absolute;
    width: 25px;
    height: 25px;
  }
  
  button{
    background-color: #1F5077;
    height: 3rem;
    position: relative;
    width: 150px;
    padding: 0 1.5rem;
    border:0;
    font-size: 24px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.2s;
  
    &:hover{
      filter: brightness(0.8);
    }

    span{
      color: #fff
    }
  
  }
}

